.detailContainerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  max-width: 1500px;
  max-height: 3000px;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-size: 400% 400%;
}

.detailContainerGroup {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width:  100%;
}

.containerImage {
  object-fit: cover;
  border-radius: 0.5rem;
  height: 100%;
 
  margin-left: 3rem;
  align-items: center;
  justify-content: center;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: transform 0.5s;
}

.img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 2rem;
}
.container.clicked {
  animation: none;
}
.containerBaseText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  color: black;
  border-radius: 1rem;
  margin: auto;
  height: 100%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 12px;
  font-weight: bold;
    max-width: 800px;
  width: 100%;  

  
}

.containerText {
  width: 30rem;

  object-fit: cover;
  border-radius: 0.5rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.containerText h1 {
  border-right: 3px hidden transparent;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #0fff00;
  }
.containerText h1:hover {
  cursor: pointer;
  color: red;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.buttonsContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #293241;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.buttonsContainer button svg {
  margin-right: 0.5rem;
}

.buttonsContainer button:hover {
  background-color: #293241;
  color: #0fff00;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
